@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}

html {
  font-size: calc(10 / 1366 * 100vw);

  @include sp {
    font-size: calc(14 / 768 * 100vw);
  }
}

body {
  font-size: 1.6rem;
  background-color: #fff;
}

h2 {
  font-size: 2.4rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 3rem 0;
}

.grid{
  display: grid;
}

.container {
  width: calc(100vw - 10rem);
  margin: 0 auto;
  margin-top: 3rem;

  @include sp{
    width: calc(100vw - 5rem);
  }
}

.c-calender{
  width: 75%;
  margin: 0 auto;
  padding: 2rem;

  &__header{
    width: 100%;
    position: relative;
    padding: 1.5rem 0;
    span{
      width: 2rem;
      height: 2rem;
      border-top: 0.5rem solid #333;
      border-right: 0.5rem solid transparent;
      border-left: 0.5rem solid #333;
      border-bottom: 0.5rem solid transparent;
      position: absolute;
      top: 2rem;
    }

    .arrow{
      &-right{
        transform: rotate(135deg);
        right: 5rem;
      }
      &-left{
        transform: rotate(-45deg);
        left: 5rem;
      }
    }

    p{
      width: 100%;
      text-align: center;
      font-size: 2.4rem;
      font-weight: bold;
    }
  }

  &__day{
    height: 6rem;
    grid-template-columns: repeat(7, 1fr);
    align-content: center;
    border-bottom: 0.5px solid #ccc;

    span{
      display: block;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
    .sun{
      color: red;
    }

    .sat{
      color: blue;
    }
  }

  &__date{
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 8rem;
    gap: 0.3rem;
    margin-top: 3rem;

    span{
      display: block;
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 1rem;

      &:not(:empty){
        border: 2px solid #ccc;
        &:not(.full):hover{
          background-color: #FEE104;
        }
      }

      &:nth-child(7n){
      color: blue;
      }
      &:nth-child(7n+1){
      color: red;
      }
    }

    .full{
      background-color: #ccc;
    }
  }

}